@charset "UTF-8";
/* Основные стили */
/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/*------------------------*/
.slider-main {
  position: relative;
}

.slider-main .slick-dots {
  position: absolute;
  display: flex;
  align-items: flex-end;
  text-align: center;
  bottom: 30px;
  right: 30px;
}
@media (max-width: 767px) {
  .slider-main .slick-dots {
    bottom: 20px;
    align-items: center;
    right: 40%;
  }
}

.slider-main .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider-main .slick-dots button {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0;
}
@media (max-width: 767px) {
  .slider-main .slick-dots button {
    width: 10px;
    height: 10px;
  }
}

.slider-main .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #fff;
}
@media (max-width: 767px) {
  .slider-main .slick-dots li.slick-active button {
    border: 1px solid #fff;
  }
}

.slider-main__item {
  min-height: rem(380);
}

.slider-main__item img {
  max-width: 100%;
}