
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;

}
/* Лента слайдов */
.slick-track{
    display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{
}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}


/*------------------------*/
.slider-main {
	position: relative; 
}

.slider-main .slick-slide{
}

.slider-main .slick-dots{
    position: absolute;
	display: flex;
	align-items: flex-end;
	text-align: center;
	bottom: 30px;
	right:30px;
	@media(max-width: 767px){
		bottom: 20px;
		align-items: center;
		right: 40%;
	}
}

.slider-main .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}

.slider-main .slick-dots button{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;  
    font-size: 0;
    @media(max-width: 767px) {
        width: 10px;
	    height: 10px;
    }
}

.slider-main .slick-dots li.slick-active button{
	background-color: transparent;
	border: 2px solid #fff;
	@media(max-width: 767px){
		border: 1px solid #fff;
	}
}

.slider-main__item {
}
.slider-main__item img{
	max-width: 100%;
    
}
.slider-main__item.slick-center{
	
}

/*------------------------*/
.slider-promo {
	position: relative; 
}

.slider-promo .slick-slide{
}

.slider-promo .slick-dots{
    position: absolute;
	display: flex;
	text-align: center;
	bottom: 30px;
	right: 50%;
	align-items: center;
	@media(max-width: 767px){
		display: none;
	}
}

.slider-promo .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}

.slider-promo .slick-dots button{
	width: 20px;
	height: 20px;
	background-color: #547147;
	border-radius: 50%;  
    font-size: 0;
    @media(max-width: 767px) {
        width: 10px;
	    height: 10px;
    }
}

.slider-promo .slick-dots li.slick-active button{
	background-color: transparent;
	border: 2px solid #547147;
	@media(max-width: 767px){
		border: 1px solid #547147;
	}
}

.slider-promo__item {
	min-height: rem(450);
}
.slider-promo__item img{
	max-width: 100%;
    
}
.slider-promo__item.slick-center{
	
}
/*==========================*/
.popup-product__slider_big {
	position: relative; 
	max-width: 450px;
	width: 100%;
}
.slider-big__item {
	min-height: rem(450);
	border-radius: 20px;
	overflow: hidden;
	margin: 0 7px;
}
.slider-big__item img{
	width: 100%;
	object-fit: cover;
}

.popup-product__slider_small{
	position: relative; 
	max-width: 450px;
	width: 100%;
}
.slider-small__item {
	margin: 0 7px;
}
.slider-small__item img{
	width: 100%;
}