//файл обнуляющих стилей
@import "nullstyle.scss";
@import "slider_slick.scss";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*========================================*/
//Функции rem  и em
$fz: 16;

@function rem($size) {
    $remSize: calc($size / $fz);
    @return $remSize * 1rem;
}

@function em($size, $parSize) {
    $emSize: calc($size / $parSize);
    @return $emSize * 1em;
}

//Для расчета % значения
@function percent($value1, $value2) {
    $percentValue: calc($value1 / $value2 * 100%);
    @return $percentValue;
}

/*===========================================*/

//Шрифт по умолчанию
$fontFamily: 'Montserrat', sans-serif;
$fontSize: rem(16);

//Основные цвета
$mainColor: #333333; //цвет шрифта
$greenColor:  #547147;
$backgroundColor: #F5F5F5;



/*=======Настройка адптивной сетки============-*/

//Минимальная ширина страницы
$minWidth: 320;
//Ширина полотна (макета)
$maxWidth: 1440;
//Ширина ограничивающего контейнера
$maxWidthContainer: 1300;
//Общий отступ у контейнера
$containerPadding: 40;

//Ширина срабатывания первого брейкпойнта
$containerWidth: $maxWidthContainer + $containerPadding;

//Брейк-пойнты
$pc: em($containerWidth, $fz); //ПК, ноутбуку, некоторые планшеты в горизонтальном положении
$tablet: em(991.98, $fz); // Плантшеты нектооые тедефоны в горизонтальном положении
$mobile: em(767.98, $fz); // Телефоны L
$mobileSmall: em(479.98, $fz); //Телефоны

//Тип адаптива
//1 = отзывчивыость (у контейнера нет брейкпойнтов)
//2 = по брейк-пойнам ( контейнер меняет свою ширину по брейк-пойнтам)
$responsiveType: 1;


//Mixin 
// @mixin adaptiveValue($type, $maxtSize,  $minSize){


// }

/*===============Ограничивающий контейнер======================*/

/*Стили будут применяться дл всех классов содержащих *__container 
Например, header__container 
*/

@if ($responsiveType==1) {
    //отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($containerWidth);
            margin: 0 auto;
            min-height: 100%;
            width: 100%;
        }
        @if ($containerPadding>0) {
            @if ($maxWidthContainer>0) {
                padding: 0 rem(calc($containerPadding / 2));
            } 
        }
    }
} @else {
    //по брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0){
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media(max-width: $pc) {
            max-width: rem(970);
        }
    }
}

/*Стили будут применяться для всех классов *-ibg. Например, main__image-ibg*/
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}


// Стили иконки меню Burger
.icon-menu{
    display: none;
    @media(max-width: $mobile){
        display: block;
        position: relative;
        width: rem(30);
        height: rem(30);
        border-radius: 50%;
        background-color: $greenColor;
        flex: 0 0 rem(30);
        z-index: 5;
        @media (any-hover: none) {
            cursor: default;
        }
        span, 
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: rem(7);
            position: absolute;
            height: rem(1);
            background-color: #fff;
        }

        &::before,
        &::after {
            width: 53.334%;
        }

        &::before {
            top: rem(10);
        }

        &::after {
            bottom: rem(10);
        }

        span{
            width: 39.75%;
            top: calc(50% - 1px);
        }
    }
}

.icon-menu.menu-open{
    span {
        width: 0
    }

    &::before,
    &::after {
    }

    &::before{
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
    }

    &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
    }
}


.hidden {
    display: none;
}

/*-------------------------------*/
body{
    font-family: $fontFamily;
    color: $mainColor;
    font-weight: 600;
    .lock{
        overflow: hidden;
        touch-action: none;
    }
}
/*-------------------------------*/
.wrapper {
    
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    line-height: calc(20 / 16 * 100%);
    padding: 0 rem(20);
    background-color: #fff;
    opacity: 0.95;
    
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        padding-top: rem(16);
        padding: rem(16) rem(0);
        height: rem(96);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #547147;
        }
        @media(max-width: $mobile) {
            max-height: rem(60);
        }
    }

	&__logo {
	}

	&__menu {
        @media(max-width: $mobile) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            padding: 70px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
            &.menu-open {
                top: 0;
            }
        }
	}

	&__contacts {
        display: flex;
        align-items: center;  
        a[href^="tel:"] {
            margin-right: rem(30);
            z-index: 100;
            white-space: nowrap;
            @media(max-width: $mobile) {
                margin-right: rem(20);
            }
        }
	}

}

.logo {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: rem(14);

		&__img {
            z-index: 100;
            max-height: rem(64);
            @media(max-width: $mobile) {
                max-height: rem(43);
            }

		}

		&__text {
            @media(max-width: $mobile) {
                display: none;
            }
		}
}

.menu {

		&__body {
            @media(max-width: $mobile) {
                position: fixed;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                transition: all 0.3s ease 0s;
                background-color: #fff;
                padding: rem(90) rem(15) rem(30) rem(15);
                font-size: rem(40);
                text-align: center;
                &::before {
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: rem(60);
                    background-color: #fff;
                    z-index: 2;
                }
		    }
        }

		&__list {
            @media(max-width: $mobile) {
                display: block;
                li {
                    margin-bottom: rem(25);
                }
            }
            @media(min-width: $mobile) {
                display: flex;
                flex-wrap: wrap;
                row-gap: rem(20);
                column-gap: rem(56);
                justify-content: center;
            }
		}

		&__item {
		}

		&__link {
            padding-bottom: rem(3);
            transition: border-bottom 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    border-bottom: 1px solid #404936;
                }
            }
		}
}


body.lock{
        @media(max-width: $mobile) {
        overflow: hidden;
        }

}


.socials {
    display: flex;
    column-gap: rem(20);
	&__link {
	}
}


.contacts {

    &__link {
    }

    &__socials {
        @media(max-width: $mobile) {
            display: none;
        }
    }
}

/*=====main======================================*/

.main {

    &__container {
        margin-top: rem(136);
        display: grid;
        @media(max-width: $mobile) {
            margin-top: rem(80);
        }
    }

    &__slider {
        margin-bottom: rem(71);
        @media(max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    &__items {
        display: grid;
        @media(min-width: rem(862)) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        font-weight: 600;
        line-height: percent(20, 16);
        @media(min-width: $mobile) {
            flex: 0 1 25%;
            &:not(:last-child) {
                margin-right: rem(10);
            }
        }

        img {
            width: 100%;
            height: auto;
            max-width: rem(80);
            margin-right: rem(12);
        }
    }    
}

.item {

    &__image {
    }

    &__text {
    }
}


.slider-main {
        &__item {
            position: relative;
            height: rem(632);
            @media(max-width: $mobile) {
                max-height: rem(380);
            }
        }
    
        &__content {
            position: absolute;
            z-index: 50;
            bottom: rem(50);
            left: rem(50);
            @media(max-width: $mobile) {
                left: rem(20);
                bottom: rem(70);
            }
        }
    
        &__price {
            font-weight: 700;
            font-size: rem(30);
            line-height: percent(34, 30);
            color: #FFFFFF;
            background-color: rgba(223, 166, 80, 1);
            border-radius: 40px;
            padding: rem(10) rem(20);
            gap: rem(10);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
            @media(max-width: $mobile) {
                font-size: rem(12);
                padding: rem(6) rem(10);
                border: 2px solid #DFA650;
                &:not(:last-child) {
                    margin-bottom: rem(10);
                }
            }
    
        }
    
        &__title {
            font-weight: 800;
            font-size: rem(80);
            line-height: percent(84, 80);
            text-transform: uppercase;
            color: #FFFFFF;
                &:not(:last-child) {
                    margin-bottom: rem(30);
                }
                @media(max-width: $mobile) {
                    font-size: rem(28);
                    &:not(:last-child) {
                        margin-bottom: rem(20);
                    }
                }
        }
        
    
        &__btn {
            font-weight: 700;
            font-size: rem(20);
            line-height: percent(24, 20);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: rem(20) rem(30);
            gap: rem(10);
            max-width: 303px;
            background: #F6F1E4;
            border-radius: 50px;
            @media(max-width: $mobile) {
                font-size: rem(14);
                padding: rem(11) rem(22);
            }
        }
    
        &__img-ibg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            object-position: 60% 50%;
        }
}

/*=======products=========================*/

.catalog {

    &__container {
        margin-top: rem(120);
        margin-bottom: rem(100);
        @media(max-width: $mobile) {
            margin-top: rem(64);
            margin-bottom: rem(60);
        }
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(60);
            @media(max-width: $mobile){
                margin-bottom: rem(30);
            }
        }  
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(158px, 407px));
        gap: rem(20);
        justify-content: center;
    }

    &__item {
    }
}

.title {
    font-weight: 700;
    font-size: rem(40);
    line-height: percent(50, 40);
    text-align: center;
    text-transform: uppercase;
    @media(max-width: $mobile) {
        font-size: rem(21);
        line-height: percent(25, 21);
    }
}

.item-product {
    position: relative;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr auto / 1fr;
    max-width: rem(407);

    &_promotion{
    }

    &__link {
        display: block;
        overflow: hidden;
    }
    &__image-ibg {
        width: 100%;
    }

    &__body {
        display: grid;
        grid-auto-flow: row;
        grid-template: 1fr auto minmax(32px, 48px) minmax(16px, 24px)/ 1fr;
        justify-items: center;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: rem(30);
    }

    &__name {
        line-height: percent(34, 30);
        &:not(:last-child) {
            margin-bottom: rem(20);
            @media(max-width: $mobile){
                margin-bottom: rem(10);
            }
        }
    }

    &__link-title {
    }

    &__price {
        font-weight: 600;
        font-size: rem(40);
        line-height: percent(44, 40);
        &:not(:last-child) {
            margin-bottom: rem(21);
            @media(max-width: $mobile){
                margin-bottom: rem(18);
            }
        }
        @media(max-width: $mobile) {
            font-size: rem(20);
        }
    }

    &__btn {
        padding: rem(12) rem(24);
        max-width: rem(270);
        width: 100%;
        min-height: rem(32);
        &:not(:last-child) {
            margin-bottom: rem(21);
            @media(max-width: $mobile){
                margin-bottom: rem(10);
            }
        }
        @media(max-width: $mobile) {
            padding: rem(8) rem(16);
        }
    }

    &__link {
        font-weight: 500;
        font-size: rem(20);
        line-height: percent(24, 20);     
        color: #888888;
        @media(max-width: $mobile) {
            font-size: rem(12);
        }
    }
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #547147;
    border-radius: rem(40);
    font-weight: 700;
    font-size: rem(20);
    line-height: percent(24, 20);
    text-align: center;
    color: #FFFFFF;
    transition: all 0.5s ease 0;
    @media(max-width: $mobile) {
        font-size: rem(14);
        line-height: percent(14, 18);
    }
    @media(any-hover:hover) {
        &:hover {
            color: #547147;
            background: #fff;
            border: 1px solid #547147;
        }
    }
}

.subtitle {
    font-weight: 600;
    font-size: rem(30);
    @media(max-width: $mobile) {
        font-size: rem(16);
    }
}


/*======PROMO SLIDER===========================*/
.promo {

    &__container {
        margin-bottom: rem(100);

    }

    &__slider {
        
    }
}


.slider-promo {
    &__item {
        display: grid;
        grid-template: 1fr / 1fr auto;
        background: url('../images/promo slider/slide01/backgroundSlider.png');
        background-repeat: repeat;
        background-size: cover;
        position: relative;
        border-radius: rem(20);
        overflow: hidden;
        height: 100%;
    }

    &__body {
        margin: rem(60) rem(106) rem(30) rem(60);
        max-width: rem(579);
        display: grid;
        grid-auto-flow: row;
        grid-template:  minmax(53px , 64px) 1fr rem(65) auto/ 1fr;
    }

    &__label {
        position: relative;
        font-weight: 500;
        font-size: rem(30);
        line-height: percent(34, 30);
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 3;
        // &:not(:last-child) {
        //     margin-bottom: rem(34);
        // }
        &::before {
            position: absolute;
            content: "";
            width: 379px;
            height: 63px;
            left: -75px;
            top: -15px;        
            color: #333333;
            z-index: -1;
            border-radius:  0 15px 15px 0;
            border-bottom: none;
            background: #547147;
            transform: perspective(15px) rotateX(-1deg);
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(50);
        line-height: percent(54, 50);
        text-transform: uppercase;
        color: #404936;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__prices {
    }

    &__button {
        min-height: rem(48);
        padding: rem(12) rem(24);
        max-width: rem(291);
    }

    &__img-ibg  {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(530);
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
        border-radius: rem(20);
        &:before {
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: rem(130);
            background: #547147;
            border: 1px solid;
            transform: perspective(15px) rotateX(-1deg);
        }
    }
}

.prices-promo {
    display: flex;  
    column-gap: rem(31);
    &:not(:last-child) {
        margin-bottom: rem(31);
    }
    &__price {
        &_old {
        font-weight: 500;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #A3A3A3;
        text-decoration: line-through;
        }

        &_new {
            font-weight: 700;
            font-size: rem(35);
            line-height: percent(34, 35);
            text-transform: uppercase;
            color: #404936;
        }
    }
}


/*========Sertificates======================*/
.sertificates {

    &__container {
        display: grid;
        grid-template: auto 1fr / 1fr 1fr;
        position: relative;
        margin-bottom: rem(100);
        @media(max-width: $mobile) {
            grid-template: auto 1fr 1fr / 1fr;
        }
    }

    &__img {
        grid-row: 1 / 3;
        overflow: hidden;
        border-radius: rem(20);
        object-fit: cover;
        object-position: 70% 70%;

        @media(max-width: $mobile) {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            margin-bottom: rem(20);
        }
        @media(min-width: $mobile) {
            margin-right: rem(60);
        }
    }



    &__title {
        text-align: left;

        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media(max-width: $mobile) {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            text-align: center;
        }
    }

    &__list {    
        font-weight: 400;
        font-size: rem(16);
        line-height: percent(20, 16);
        margin-left: rem(15);
    }

    &__item {
        position: relative;
        &:before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            left: -15px;
            top: 5px;
            background: #547147;
            border-radius: 50%;
        }
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}

